.company-create {
  padding: 25px;
  max-width: 50%;

  button {
    margin-right: 10px;
  }

  @media screen and (max-width: 1400px) {
    max-width: 75%;
  }

  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
}
