<div class="day">
  <div class="day__title">Monday 3.3.2024</div>
  <div class="day__timeline" #timelineEl>
    <div class="day__timeline-content">
      <div class="day__timeline-now" [style.top.px]="totalMinutes"></div>
      @for (time of timeline; track time) {
      <div class="day__timeline-hour">
        @for (q of quarter; track q) {
        <div class="day__timeline-quarter">
          <span>
            {{ getTime(time, q) }}
          </span>
        </div>
        }
      </div>
      } @for (item of items; track $index) {
      <div
        class="day__timeline-item"
        [style.top.px]="item.totalStartMinutes() * 2"
        [style.height.px]="item.totalDurationMinutes() * 2"
        [style.backgroundColor]="item.color"
        [title]="
          item.title + ' (' + item.startTime + ' - ' + item.endTime + ')'
        "
      >
        <span>{{ item.title }}</span>
      </div>
      }
    </div>
  </div>
</div>
