<button mat-flat-button color="primary" (click)="addEntry()">Add Entry</button>
<div class="day">
  <div class="day__title">
    {{ date | date : "cccc, dd.MM.yyyy" }}
  </div>
  <div class="day__timeline" #timelineEl>
    <div class="day__timeline-content">
      <!-- Current time line -->
      <div class="day__timeline-now" [style.top.px]="totalMinutes"></div>

      <!-- Make div every hour -->
      @for (time of timeline; track time) {
      <div class="day__timeline-hour">
        @for (q of quarter; track q) {
        <div class="day__timeline-quarter" (click)="quarterClick(time, q)">
          <span>
            {{ getTime(time, q) }}
          </span>
        </div>
        }
      </div>
      }

      <!-- Add all timeline items for day -->
      @for (item of items; track $index) {
      <div
        class="day__timeline-item"
        [style.top.px]="item.totalStartMinutes() * 2"
        [style.height.px]="item.totalDurationMinutes() * 2"
        [style.backgroundColor]="item.color"
        [title]="
          item.title + ' (' + item.startTime + ' - ' + item.endTime + ')'
        "
        (click)="editEntry(item)"
      >
        <span>{{ item.title }}</span>
      </div>
      }
    </div>
  </div>
</div>
