.day-container {
  display: flex;
  gap: 25px;
}
.day-container__timeline {
  width: 50%;

  @media screen and (min-width: 1920px) {
    width: 33%;
  }

  @media screen and (max-width: 1365px) {
    width: 75%;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  .day__header {
    .day__add-entry {
      width: 120px;
      margin-bottom: 25px;
    }
  }
}

.day {
  width: 100%;
  border: 1px solid #28b851;
  height: 600px;
  box-sizing: border-box;

  &__title {
    padding: 10px;
    text-align: center;
    background-color: #88cf9c;
    height: 40px;
    box-sizing: border-box;
  }

  &__timeline {
    overflow: auto;
    height: 558px;
    box-sizing: border-box;
    &-content {
      height: 2880px;
      position: relative;
    }

    &-now {
      height: 1px;
      width: 100%;
      background-color: red;
      position: absolute;
      left: 0;
    }
  }
}
