<h2 mat-dialog-title>Password Change</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="submit()">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input
          matInput
          id="old_password"
          name="old_password"
          formControlName="old_password"
          type="password"
        />
        @if (form.get('old_password')?.hasError('required')) {
        <mat-error>Old password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          matInput
          id="new_password"
          name="new_password"
          formControlName="new_password"
          type="password"
        />
        @if (form.get('new_password')?.hasError('required')) {
        <mat-error>New password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <mat-label>Repeat New Password</mat-label>
        <input
          matInput
          id="repeat_password"
          name="repeat_password"
          formControlName="repeat_password"
          type="password"
        />
        @if (form.get('repeat_password')?.hasError('required')) {
        <mat-error>Repeat New password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>
    @if (form.get('repeat_password')?.touched &&
    form.errors?.['passwordNoMatch']) {
    <mat-error>Passwords don't match. </mat-error>
    }
    <button hidden type="submit" #submitBtn></button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    type="button"
    cdkFocusInitial
    color="primary"
    (click)="submitBtn.click()"
  >
    Change
  </button>
</mat-dialog-actions>
