<mat-card class="user-form">
  @if(form.get('inactive')?.value) {
  <div class="form-error">User is inactive</div>
  } @if(form.get('deleted')?.value) {
  <div class="form-error">
    User is deleted. Please restore user if you want to modify user!
  </div>
  }
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="company-create__basic">
      <h4 class="form-title">User Info</h4>
      <div class="form-row">
        <div class="w-50">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              placeholder="First Name"
              formControlName="first_name"
              id="first_name"
            />
            @if (form.get('first_name')?.hasError('required')) {
            <mat-error>First Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-50">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              placeholder="Last Name"
              formControlName="last_name"
              id="last_name"
            />
            @if (form.get('last_name')?.hasError('required')) {
            <mat-error>Last Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            id="email"
          />
          @if (form.get('email')?.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          } @else if (form.get('email')?.hasError('email')) {
          <mat-error>Email is <strong>invalid</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" id="role">
          <mat-option [value]="0">ROOT</mat-option>
          <mat-option [value]="1">ADMIN</mat-option>
          <mat-option [value]="2">MODERATOR</mat-option>
          <mat-option [value]="3">USER</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- ADRESS  -->
    <div formGroupName="address" class="company-create__address">
      <h4 class="form-title">User Address</h4>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Address 1</mat-label>
          <input
            matInput
            placeholder="Address 1"
            formControlName="address1"
            id="address1"
          />
          @if (form.get('address.address1')?.hasError('required')) {
          <mat-error>Address1 is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Address 2</mat-label>
          <input
            matInput
            placeholder="Address 2"
            formControlName="address2"
            id="address2"
          />
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" id="city" />
          @if (form.get('address.city')?.hasError('required')) {
          <mat-error>City is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Postcode</mat-label>
          <input
            matInput
            placeholder="Postcode"
            formControlName="postcode"
            id="postcode"
          />
          @if (form.get('address.postcode')?.hasError('required')) {
          <mat-error>Postcode is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>County</mat-label>
          <input
            matInput
            placeholder="County"
            formControlName="county"
            id="county"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-50">
          <mat-label>Country</mat-label>
          <input
            matInput
            placeholder="Country"
            formControlName="country"
            id="country"
          />
          @if (form.get('address.country')?.hasError('required')) {
          <mat-error>Country is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>

    <!-- Save -->
    @if(!form.get('inactive')?.value && !form.get('deleted')?.value || !form) {
    <button mat-flat-button color="primary" type="submit" id="user-submit">
      Save
    </button>
    }

    <!-- Buttons only if user exists -->
    @if (userId) {
    <!-- Buttons -->
    @if(!form.get('deleted')?.value) {
    <!-- Activate/Deactivate -->
    <button
      mat-flat-button
      [color]="form.get('inactive')?.value ? 'primary' : 'warn'"
      type="button"
      id="user-toggle-status"
      (click)="openDialog('status')"
    >
      {{ form.get("inactive")?.value ? "Activate" : "Deactivate" }}
    </button>

    <!-- Soft delete  -->
    <button
      mat-flat-button
      color="warn"
      type="button"
      id="user-soft-delete"
      (click)="openDialog('delete')"
    >
      Delete
    </button>
    }

    <!-- Restore -->
    @if (form.get('deleted')?.value) {
    <button
      mat-flat-button
      color="primary"
      type="button"
      id="restore"
      (click)="openDialog('restore')"
    >
      Restore
    </button>
    }

    <!-- Hard delete  -->
    <button
      mat-flat-button
      color="warn"
      type="button"
      id="user-hard-delete"
      (click)="openDialog('deleteHard')"
    >
      Delete (No Undo)
    </button>
    }
  </form>
</mat-card>
