@if(timeEntry) {
<div
  class="time-entry"
  [style.top.px]="timeEntry.totalStartMinutes() * 2"
  [style.height.px]="timeEntry.totalDurationMinutes() * 2"
  [style.backgroundColor]="timeEntry.color"
  [title]="
    timeEntry.title +
    ' (' +
    timeEntry.start_time +
    ' - ' +
    timeEntry.end_time +
    ')'
  "
  [matMenuTriggerFor]="menu"
>
  <span>{{ timeEntry.title }}</span>
</div>
}

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editEntry()">
    <mat-icon>edit</mat-icon> <span>Edit</span>
  </button>
  <button mat-menu-item (click)="deleteEntry()">
    <mat-icon>delete</mat-icon> <span>Delete</span>
  </button>
</mat-menu>
