<mat-card class="profile-form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="company-create__basic">
      <h4 class="form-title">Info</h4>
      <div class="form-row">
        <div class="profile-row w-50">
          <span class="profile-row-title">Company:</span>
          <span class="profile-row-value">{{
            user ? user.company?.name : ""
          }}</span>
        </div>
        <div class="profile-row w-50">
          <span class="profile-row-title">Role:</span>
          <span class="profile-row-value">{{ getRole() }}</span>
        </div>
      </div>
      <div class="form-row">
        <div class="w-50">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              placeholder="First Name"
              formControlName="first_name"
              id="first_name"
            />
            @if (form.get('first_name')?.hasError('required')) {
            <mat-error>First Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="w-50">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              placeholder="Last Name"
              formControlName="last_name"
              id="last_name"
            />
            @if (form.get('last_name')?.hasError('required')) {
            <mat-error>Last Name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            id="email"
          />
          @if (form.get('email')?.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          } @else if (form.get('email')?.hasError('email')) {
          <mat-error>Email is <strong>invalid</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <button
      mat-flat-button
      type="button"
      color="primary"
      id="change-password"
      (click)="openDialog()"
    >
      Change password
    </button>

    <!-- ADDRESS  -->
    <app-adress-form controlKey="address"></app-adress-form>

    <button mat-flat-button color="primary" type="submit" id="profile-submit">
      Save
    </button>
  </form>
</mat-card>
