<div class="login">
  <img src="assets/login-bg.png" alt="Bg" class="login-bg-1" />
  <img src="assets/login-bg.png" alt="BG" class="login-bg-2" />

  <div class="login-container">
    <img
      src="assets/logo.png"
      alt="Logo"
      [@logoAnimate]="animationDone ? 'hasPadding' : 'noPadding'"
    />
    <h2>Login</h2>

    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon color="primary">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="!form.valid || isLoading"
        class="login-submit"
      >
        {{ isLoading ? "Loading..." : "Login" }}
      </button>
    </form>
  </div>
</div>
