.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &-bg-1,
  &-bg-2 {
    position: absolute;
    width: 30%;

    @media screen and (min-width: 1920px) {
      width: 20%;
    }
  }

  &-bg-1 {
    left: 0;
    top: 0;
  }

  &-bg-2 {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }

  &-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;

    img {
      width: 150px;
      text-align: center;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        width: 130px;
      }
    }

    h2 {
      text-align: center;
      font-size: 2rem;
      color: #ff4141;
      margin-bottom: 50px;
    }

    .login-form {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
