.hour {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #28b851;
  box-sizing: border-box;

  &-quarter {
    height: 30px;
    width: 100%;
    border-bottom: 1px dashed #d7d7d7;
    box-sizing: border-box;
    display: flex;
    align-items: end;

    span {
      font-size: 11px;
    }

    &:hover {
      background-color: #88cf9c;
      cursor: pointer;
    }
  }
}
