<mat-nav-list>
  <mat-form-field *appHasRole="rootRole">
    <mat-label>Select Company</mat-label>
    <mat-select (valueChange)="companyChange($event)" [(value)]="companyId">
      @for (company of companies; track company.id) {
      <mat-option [value]="company.id">{{ company.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @for (link of links; track link) { @if(!(link.excludeRole?.toString() &&
  link.excludeRole === userRole)) {

  <a
    [routerLink]="[link.link]"
    routerLinkActive="router-link-active"
    class="navigation-item"
    *appHasRole="link.minRole"
  >
    <mat-list-item>
      <span matListItemTitle>{{ link.title }}</span>
    </mat-list-item></a
  >
  } }
</mat-nav-list>
