<mat-card>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="admin">
    <mat-tab label="Companies"
      ><div class="tab-content">
        <button
          mat-flat-button
          color="primary"
          class="admin__add-company"
          (click)="addCompany()"
        >
          Add Company
        </button>
        <app-company-list></app-company-list></div
    ></mat-tab>
    <mat-tab label="Users">Users content</mat-tab>
    <mat-tab label="Settings">Settings content</mat-tab>
  </mat-tab-group>
</mat-card>
