<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="submit()">
    <!-- Title -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          matInput
          name="title"
          formControlName="title"
          placeholder="Title"
        />

        <!-- Error -->
        @if (form.get('title')?.hasError('required')) {
        <mat-error>Title is required!</mat-error>
        }
      </mat-form-field>
    </div>

    <!-- Start time -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Start Time</mat-label>
        <input
          matInput
          name="startTime"
          [format]="24"
          formControlName="start_time"
          [ngxMatTimepicker]="startPicker"
          placeholder="Start time"
          readonly
        />

        <!-- Error -->
        @if (form.get('start_time')?.hasError('timeError')) {
        <mat-error>Start time must be before end time</mat-error>
        }

        <mat-icon matSuffix (click)="startPicker.open()">
          watch_later
        </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker color="primary" #startPicker></ngx-mat-timepicker>
    </div>

    <!-- End time -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>End Time</mat-label>
        <input
          matInput
          name="endTime"
          [format]="24"
          formControlName="end_time"
          [ngxMatTimepicker]="endPicker"
          placeholder="End Time"
          readonly
        />

        <!-- Error -->
        @if (form.get('end_time')?.hasError('timeError')) {
        <mat-error>End time must be after start time</mat-error>
        }

        <mat-icon matSuffix (click)="endPicker.open()"> watch_later </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker color="primary" #endPicker></ngx-mat-timepicker>
    </div>

    <!-- Color -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color" id="color">
          @for (color of colors; track $index) {

          <mat-option [value]="color.value">{{ color.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Notes -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="notes"
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>
    </div>

    <button hidden type="submit" #submitBtn></button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    type="button"
    cdkFocusInitial
    color="primary"
    (click)="submitBtn.click()"
  >
    Save
  </button>
</mat-dialog-actions>
