// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$cvtm-palette: (
  50: #e6f6ea,
  100: #c4e9ca,
  200: #9ddba9,
  300: #73ce86,
  400: #51c36c,
  500: #28b851,
  600: #1da947,
  700: #0c963c,
  800: #008530,
  900: #00661c,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cvtm-primary: mat.define-palette($cvtm-palette, 700, 300, 900);
$cvtm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cvtm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cvtm-theme: mat.define-light-theme(
  (
    color: (
      primary: $cvtm-primary,
      accent: $cvtm-accent,
      warn: $cvtm-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cvtm-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

.tab-content {
  width: 100%;
  background-color: #fafafa;
  padding: 25px;
  box-sizing: border-box;
}

.form-title {
  color: #767676;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.w-50 {
  width: 50%;
}

.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-error {
  font-size: 0.9rem;
}
