<div [formGroupName]="controlKey" class="address-form">
  <h4 class="form-title">Address</h4>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Address 1</mat-label>
      <input
        matInput
        placeholder="Address 1"
        formControlName="address1"
        id="address1"
      />
      @if (parentFormGroup.get('address.address1')?.hasError('required')) {
      <mat-error>Address1 is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Address 2</mat-label>
      <input
        matInput
        placeholder="Address 2"
        formControlName="address2"
        id="address2"
      />
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" id="city" />
      @if (parentFormGroup.get('address.city')?.hasError('required')) {
      <mat-error>City is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Postcode</mat-label>
      <input
        matInput
        placeholder="Postcode"
        formControlName="postcode"
        id="postcode"
      />
      @if (parentFormGroup.get('address.postcode')?.hasError('required')) {
      <mat-error>Postcode is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>County</mat-label>
      <input
        matInput
        placeholder="County"
        formControlName="county"
        id="county"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Country</mat-label>
      <input
        matInput
        placeholder="Country"
        formControlName="country"
        id="country"
      />
      @if (parentFormGroup.get('address.country')?.hasError('required')) {
      <mat-error>Country is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
</div>
